
/* common class */
.testo{
  font-size: 25px;
  color:white;
  text-align: center;
}

.my-color-text{
  color: #4892FF;
  font-weight: bold;
}
.my-color-button{
  color:#579AFF;
}



h2{
  font-weight:bold;
}
 .my-style-text{
  line-height: 30px;
  color:#5C6A88;
}
.my-icon-google{
  margin-left: 0;
}

.navbar{
  height: 100px;
}
.logo{
  height: 30px;
}
.navbar li{
  display: inline-block;
  padding:0 5px;
  line-height: 100px;
}
.center{
  float:center;
}

.login{
  float:right;
}
.hamburger{
  float:right;
  color: #4892FF;

}

.txt-right {
  text-align: right;
}
/* SFONDO CON ROW E COLONNE2 */
.my-bg{
  background: url("../img/sfondo.jpg");
  background-size: cover;

}

.what{
  text-align: left;
  color: white;
}
.credenziali{

 /* width: 350px; */
margin-bottom: 10px;
 text-align: center;
 margin-top: 10px;
 background-color: white;

}

/* form */

.my-form ::placeholder{
  color:grey;
  font-size: 10px;
}

.form-control{
  border-bottom: 1px solid grey;
  border-radius: 0px;
  }
  .my-bottom{
  font-size: 15px;
  }
  /* fine sfondo con row e colonne */

/* sfondo grigio con la lista dei loghi */

.log{
  height: 60px;
}
.loghi li{
  display: inline-block;
  padding:10px 5px;

}
h4{
  color:gray;
}
.my-bg2{
  background-color: lightgray;
  vertical-align: middle;

}

/* fine sfondo grigio con la lista dei loghi  */


/* griglia a 5 colonne */
.elenco  ul {
list-style-type: none;
border-left: 1px solid black;
color: #75809A;
}
.elenco li{
line-height: 25px;
}
h5{
  font-size: 30px;
  color: black;
}
.testi p{
  font-size: 20px;
  color:#8D97AC;
}

/* fine  griglia a 5 colonne */

/* seconda immagine centrale con sfondo grigio */
.droplets{
  height: 300px;
}
h3{
color:#8691A9;
line-height: 30px;
}
/* inserire una medi query per xs */
/* fine seconda immagine centrale con sfondo grigio */

.balls i{
  padding: 0 5px;
  margin-bottom: 25px;
}
i:hover {
color: yellow;
}

/* tabella */

.liste li{
  display: inline-block;
  color: white;
 padding:10px 5px;
}

.liste{
  border-bottom: 1px solid white;
}
.my-link{
  float:right;

}
.my-link a{
  color: #00A7CA;
}

/* fare una media quesry solo per mobile che da un margin top di 50 */
.my-margin-top{
  margin-top: 50px;
}


.my-bg3{
  background-color:#003AB7;

}

/* fine tabella */

/* carousel */
.immagine-carousel{
  height: 50px;
  text-align: center;
}
.my-bg4{
  background-color: lightgray
}
.container-special{
  margin-top: 50px;
  background-color: #fff;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  margin: 0 25px;
  padding: 30px;
  width: 70%;
}

/* fine carousel */


/* sezione sopra il footer */
.my-bg5{
  background-color:#0035AF;
}
.special-text{
  color:blue;
}
/* end sezione sopra il footer */

/* footer */
.my-bg6{
  background-color:#031C4E;
}
.my-margin{
  margin-top:10px;
}

.footer li{
  list-style-type: none;
  color:#48597B;
}
.footer h3{
  color: white;
}
.footer p{
    color:#48597B;
}

.fish{
  float:right;
}
.chatbot{
position: fixed;
 bottom:0;
}

.chat{
 padding:0 40px;
  float:right;
  background-color: white;
}
.chat p{
  margin-top:50px;
}
/* end footer */

/* media quesry */

@media screen and (max-width: 661px) {
  .droplets {
      height: 200px;
  }
}

@media screen and (max-width: 661px) {
.immagine-carousel {
    height: 30px;
  }
}

@media screen and (max-width: 661px) {
.my-margin {
    margin-top: 30px;
  }
}

@media screen and (max-width: 778px) and  (min-width: 661px) {
.my-link {
  font-size: 11px;
  }
  .chat p{
    margin-top:0;
  }
  ul{
    padding-left:0;
  }
}
@media screen and (max-width: 661px) {
  .fish{
    float:none;
    display: block;
  }
  .chat {
    float:none;
  }

  ul{
    padding-left:0;
  }
  .elenco ul{
    padding-left:7px;
  }
}

@media screen and (min-width: 768px) and  (max-width: 1170px) {
.chatbot {
    position: fixed;
    bottom: 0;
    right: 0;
 }
 .elenco ul{
   padding-left:7px;
 }

}
