.navbar{
  height: 100px;
}
.logo{
  height: 30px;
}
.navbar li{
  display: inline-block;
  padding:0 5px;
  line-height: 100px;
}
.center{
  float:center;
}

.login{
  float:right;
}
.hamburger{
  float:right;
}

.txt-right {
  text-align: right;
}
/* SFONDO CON ROW E COLONNE2 */
.my-bg{
  background: url("../img/sfondo.jpg");
  background-size: cover;

}

.what{
  text-align: left;
  color: white;
}
.credenziali{

 /* width: 350px; */

 text-align: center;
 margin-top: 10px;
 background-color: white;

}

/* form */

.my-form ::placeholder{
  color:grey;
  font-size: 10px;
}

.form-control{
  border-bottom: 1px solid grey;
  border-radius: 0px;
  }
  .my-bottom{
  font-size: 15px;
  }
  /* fine sfondo con row e colonne */

/* sfondo grigio con la lista dei loghi */

.log{
  height: 30px;
}
.loghi li{
  display: inline-block;

}
h4{
  color:gray;
}
.my-bg2{
  background-color: lightgray;
  vertical-align: middle;

}

/* fine sfondo grigio con la lista dei loghi  */


/* griglia a 5 colonne */
.elenco  ul {
list-style-type: none;
border-left: 1px solid black;
}

/* fine  griglia a 5 colonne */

/* seconda immagine centrale con sfondo grigio */
.droplets{
  height: 300px;
}
/* inserire una medi query per xs */
/* fine seconda immagine centrale con sfondo grigio */

.balls i{
  padding: 0 10px;
}
i:hover {
color: yellow;

}
